<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- insert your AWS RDS connection below -->
		<property name="hibernate.connection.url">jdbc:mysql://aah5qkgt997vlg.ccxaerxt39bn.us-west-2.rds.amazonaws.com:3306/myShoppingSite</property>
		<property name="hibernate.connection.username">username</property>
		<property name="hibernate.connection.password">password</property>
		
		<!-->property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myShoppingSite</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property-->

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

	    <mapping class="com.zhouyunlu.pojo.User" />
		<mapping class="com.zhouyunlu.pojo.Email" />
		<mapping class="com.zhouyunlu.pojo.Product" />
		<mapping class="com.zhouyunlu.pojo.Address"/>
		<mapping class="com.zhouyunlu.pojo.Order"/>
		<mapping class="com.zhouyunlu.pojo.Item"/>
		<mapping class="com.zhouyunlu.pojo.Comment"/>

	</session-factory>
</hibernate-configuration>
