<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!--  AWS RDS connection  -->
		<property name="hibernate.connection.url">jdbc:mysql://aa9t2zlqk24nsc.ccxaerxt39bn.us-west-2.rds.amazonaws.com:3306/myShoppingSite?autoReconnect=true</property>
		<property name="hibernate.connection.username">dashlorde</property>
		<property name="hibernate.connection.password"></property>

		<!-- localhost connection -->
		<!--property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myShoppingSite</property> 
		<property name="hibernate.connection.username">root</property> 
		<property name="hibernate.connection.password"></property -->

		
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<!-- c3p0 -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">100</property> <!-- seconds -->
		<property name="c3p0.max_size">1000</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">10</property>
		<property name="c3p0.timeout">1800</property> <!-- seconds -->

		<mapping class="com.zhouyunlu.pojo.User" />
		<mapping class="com.zhouyunlu.pojo.Email" />
		<mapping class="com.zhouyunlu.pojo.Product" />
		<mapping class="com.zhouyunlu.pojo.Address" />
		<mapping class="com.zhouyunlu.pojo.Order" />
		<mapping class="com.zhouyunlu.pojo.Item" />
		<mapping class="com.zhouyunlu.pojo.Comment" />
		<mapping class="com.zhouyunlu.pojo.WishList" />

	</session-factory>
</hibernate-configuration>
