@CHARSET "UTF-8";


table{
	border-collapse: collapse;
    width: 100%;
   	position: absolute;
   	top:55px;
   	z-index: -1;
   
}

th, td{
	height:60px;
	padding: 10px;
	text-align:center;
	border-bottom: 1px solid  #d7d9dd;
	font-family:Lucida Grande;
}

td.pic{
	text-align:center;
	width:35%;
}

th{font-size:18px}


td a{
	color: black;
	text-align:center;
	text-decoration: none;
	display: block;
}

h2.cartHead{
	position:absolute;
	top:55px;
	font-family:Lucida Grande;
}

div.checkout{
	position:fixed;
	bottom:20px;
	
}

a.checkout{
	font-family:Lucida Grande;
	text-decoration:none;
	display:block;
	font-size:16px;
	padding: 10px 20px;
	border: 1px solid #4CAF50;
	border-radius: 8px;
	
	
}

div.total{
	position:fixed;
	bottom:80px;
}

#total{
	font-size: 20px;
	font-family:Lucida Grande;
	
}





