@CHARSET "UTF-8";

.product{
	color: black;
	text-decoration: none;
}

.product a:hover {
	color: #b24276;
}

.div_divider {
	border-bottom: solid 1px #404040;
}

.demo {
	margin-top: 50px;
}

.thumbnail {
	padding: 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}