@CHARSET "UTF-8";

#loginform{
	padding:10px;
}

.navbar-brand{
	font-family:Papyrus;
	text-transform: uppercase;
}

#myNavbar li a{
	font-size:16px;
	font-family:Lucida Grande;
}

#sidebar {
  background-color:#f5f5f5;
  margin-top:90px;
  width: 13%
}

#sidebar li a{
	display:block;
	color: #000;
	padding: 8px 16px;
	text-decoration:none;
	font-family:Lucida Grande;
}

#sidebar li a:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
  
 


