@CHARSET "UTF-8";
body{
	background-color: #a3ced1;
}

div.info{
	position:absolute;
	top:55px;
	width: 100%;
	padding:auto;
	
}

ul.info{
	
	text-decoration:none;
	width: 100%
}

li.info{
	text-align:center;
	font-family:Lucida Grande;
	text-decoration:none;
	list-style-type: none;
	padding:10px 30px;
	font-size:20px;
}

li.info a{
	color: black;
	display:block;
	border-radius: 8px;
	padding: 10px, 15px;
	border: 2px solid black;
	text-decoration: none;
	margin-left:35%;
	margin-right:35%;
	font-size:15px;

}

li.info a:hover{
	background-color: black;
	color:white;
}

#submit{
	diplay:block;
	width: 30%;
	font-size: 15px;
	font-family:Lucida Grande;
	padding:10px;
	background-color :black;
	color: white;
	border-radius:8px;
	list-style-type:none;
	
}

#textarea{
	width: 50%;
	height: 50px;

}


