@CHARSET "UTF-8";
body{
	background-color: #90d2ed;
}


h2{
	text-align: center;
}




#form{
	width: 80%;
	margin: auto;
	padding: 20px 30px;
	border: 2px solid #00ace6;
	border-radius: 8px;
	font-size: 15px;
	font-family:Lucida Grande;
	background-color:#57aed1;
	
}


a.actionChange{
	display:block;
	padding:10px;
	background-color:black;
	text-decoration: none;
	text-align: center;
	color: white;
	border: 1px solid black;
	border-radius:8px;
}

#submit{
	diplay:block;
	width: 100%;
	font-size: 15px;
	font-family:Lucida Grande;
	padding:10px;
	background-color :black;
	color: white;
	border-radius:8px;
	
	
}

#actionChange{
	color:white;
	font-size:20px;
}

input{
	width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

