@CHARSET "UTF-8";



h2{
	text-align: center;
}

.form{margin-top:60px}



#form{
	width: 80%;
	margin: auto;
	padding: 20px 30px;
	border: 2px solid #00ace6;
	border-radius: 8px;
	font-size: 15px;
	font-family:Lucida Grande;
	background-color:#57aed1;
	
}




#submit{
	diplay:block;
	width: 100%;
	font-size: 15px;
	font-family:Lucida Grande;
	padding:10px;
	background-color :black;
	color: white;
	border-radius:8px;
	
	
}



input{
	width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

